body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.LoginButton {
   float:right;
 
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.LogoutButton{
    float:right;  
}

.LoginButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.userIcon{
  float:right;
}
.userProfileImage{
    width:30px;
    height: 30px
}

h1 {
    font-family: 'Comic Sans MS', 'Cursive', sans-serif; /* Cute Font */
    font-size: 2rem; /* Large font size */
    background: linear-gradient(90deg, green, red, blue); /* Gradient */
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
    color: transparent; /* Make text transparent to show gradient */
    text-align: center; /* Center text horizontally */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10vh; /* Full height to center vertically */
}

.header-container  {
    display: flex;               /* Enable flexbox layout */
    align-items: center;         /* Vertically center the items */
    justify-content: space-between; /* Add space between h1 and Profile */
}

.content-container  {
    display: flex;               /* Enable flexbox layout */
    align-items: center;         /* Vertically center the items */
    justify-content: space-around; /* Add space between h1 and Profile */
}

.item-display {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust the width as needed */
    padding: 2px 0;
}

